<nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/service">Service</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/faqs">FAQs</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/login">Login/Register</a>
            </li>
        </ul>
    </div>
    <a aria-disabled="true">Disabled</a>
</nav>
