<nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="/"><strong>Home</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/service"><strong>Service</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/faqs"><strong>FAQs</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/listBooking"><strong>List of Booking</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/listContacts"><strong>List of Contacts</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout"><strong>logout</strong></a>
            </li>
        </ul>
    </div>
</nav>
