<html>
    <head>
        <title>JHH contact-page</title>
        <%- include('partials/header1.ejs') %>
        <h6>***Jun Healthcare House Copyrights 2026***</h6>
    </head>
    <body>
        <%- include('partials/navbar1.ejs') %>
         <div class="container">
            <br><h1><strong>Contact</strong></h1><br>
            <img class="img2" src="/public/images/ZYAM.jpeg" alt="Lady">
            <p><br>Phone Nomber: XXXXXXXXXXXX<br><br>
                Email:     XXXXXXXXXXXXXXXXXXXXX<br><br>
                Address: XXXXXXXXXXXXXXXXXXXXXx <br><br>
                <br>
            </p>
        </div>
    </body>
</html>
