<html>
    <head>
        <title>JHH faqs-page</title>
        <%- include('partials/header1.ejs') %>
    </head>
    <body>
         <%- include('partials/navbar1.ejs') %>
         <div class="container">
            <br><h2><strong>FAQs</strong></h2>
            <img class="img2" src="/public/images/XueweiTu.jpg" alt="Xue Wei Tu">
            <p>If you would like to know more about our services, please check on 
                <a href="service">Services</a> page</p>
            <h6><b><u>Q1. What is acupuncture? </u></b></h6>
            <p>Acupuncture is one of the important treatment methods in traditional Chinese medicine. 
                Acupuncture stimulates specific acupoints on the body's meridians to promote 
                the circulation of qi and blood, improve the function of internal organs, 
                and help restore the body's yin-yang balance.</p>
            <h6><b><u>Q2. What are acupuncture points?</u></b></h6>
            <p>Acupoints are specific locations on the meridians of the human body, 
                and different acupoints have different functions. 
                Acupuncturists use different techniques to treat various diseases, 
                and they are particularly effective in relieving pain.</p>
            <h6><b><u>Q3. Can acupuncture relieve headaches?</u></b></h6>
            <p>Yes. Headaches can be caused by various reasons, by identifying the correct acupoints, 
                and using appropriate techniques through traditional Chinese medicine diagnosis, 
                the treatment effect will be better.</p>
            <h6><b><u>Q4. Can acupuncture help alleviate poor sleep?</u></b></h6>
            <p>Yes. Poor sleep can be caused by various reasons, 
                requiring diagnosis and treatment based on the specific cause.</p>
            <h6><b><u>Q5. Is acupuncture effective for frozen shoulder?</u></b></h6>
            <p>Yes, acupuncture, massage, and cupping are all very effective 
                in improving the symptoms of frozen shoulder.</p>
        </div>
    </body>
    <footer>
        <p>&copy; 2026 Jun Healthcare House. All rights reserved.</p>
    </footer>
</html>
