<html>
    <head>
        <title>JHH faqs-page</title>
        <%- include('partials/header1.ejs') %>
        <h6>***Jun Healthcare Home Copyrights 2026***</h6>
    </head>
    <body>
         <%- include('partials/navbar1.ejs') %>
         <div class="container">
            <br><h2><strong>FAQs</strong></h2><br>
            <img class="img2" src="/public/images/XueweiTu.jpg" alt="Lady">
            <h6>Q1.	What is acupuncture? 针灸是什么？</h6>
            <p style="color: #23086f">
                Acupuncture is an important treatment method in Traditional
                Chinese Medicine. Acupuncture is a procedure that 
                stimulates the circulation of Qi and blood through the use 
                of needles at specific acupuncture points along the body's 
                meridians. This helps improve organ function and restore 
                the balance of Yin and Yang in the body.<br>
                针灸是传统中医的重要治疗方法之一。针灸是通过针刺人体经络上的特定穴位，
                促进人体气血循环。改善人体器官功能，帮助回复人体的阴阳平衡<br><br>
                Q2.	What are acupuncture points?<br>
	            Acupuncture points are specific locations along the body's 
                meridians. Different points have different functions. 
                Acupuncturists use different techniques to treat various 
                conditions. They are particularly effective for pain relief.<br><br>
                Q3.	Can acupuncture relieve headaches?<br>
	            Yes, headaches are caused by different reasons. 
                Through TCM syndrome differentiation, finding the correct 
                acupuncture points and using appropriate techniques to 
                treat them, the effect is very good.<br><br>
                Q4.	Can acupuncture help alleviate poor sleep?<br>
	            Yes, poor sleep can be caused by different factors. 
                Treatment should be tailored to the individual's condition.<br><br>
                Q5. Is acpuncture effective for frozen shoulder?<br>
	            Yes, acupuncture, massage, and cupping are very effective 
                in improving the symptoms of frozen shoulder.<br><br>
    
            </p>
         </div>
    </body>
</html>
