<html>
    <head>
        <title>JHH faqs-page</title>
        <%- include('partials/header1.ejs') %>
        <i>***Jun Healthcare House Copyrights 2026***</i>
    </head>
    <body>
         <%- include('partials/navbar1.ejs') %>
         <div class="container">
            <br><h1><strong>FAQs</strong></h1><br>
            <img class="img2" src="/public/images/XueweiTu.jpg" alt="Lady">
            <h6><b>Q1.	What is acupuncture? 针灸是什么？</b></h6>
            <p>Acupuncture is one of the important treatment methods in traditional Chinese medicine. 
                Acupuncture stimulates specific acupoints on the body's meridians 
                to promote the circulation of qi and blood, improve the function of internal organs, 
                and help restore the body's yin-yang balance.<br>
                针灸是传统中医的重要治疗方法之一。针灸通过刺激人体经络上的特定穴位，促进气血运行，改善脏腑功能，
                帮助恢复人体的阴阳平衡。</p>
            <h6><b>Q2.	What are acupuncture points?</b></h6>
	        <p>Acupoints are specific locations on the meridians of the human body, 
                and different acupoints have different functions. 
                Acupuncturists use different techniques to treat various diseases, 
                and they are particularly effective in relieving pain.<br>
                穴位是人体经络上的特定位置，不同的穴位具有不同的功能。
                针灸师运用不同的手法治疗各种疾病，尤其在缓解疼痛方面效果显著。</p>
            <h6><b>Q3.	Can acupuncture relieve headaches?</b></h6>
	        <p>Yes. Headaches can be caused by various reasons, by identifying the correct acupoints, 
                and using appropriate techniques through traditional Chinese medicine diagnosis, 
                the treatment effect will be better.<br>
                是的，头痛可能由多种原因引起，通过中医诊断找到正确的穴位，并采用适当的治疗方法，治疗效果会更好。</p>
            <h6><b>Q4.	Can acupuncture help alleviate poor sleep?</b></h6>
	        <p>Yes. Poor sleep can be caused by various reasons, 
                requiring diagnosis and treatment based on the specific cause.<br>
                是的，睡眠质量差可能由多种原因引起，需要根据具体原因进行诊断和治疗。</p>
            <h6><b>Q5. Is acpuncture effective for frozen shoulder?</b></h6>
	        <p>Yes, acupuncture, massage, and cupping are all very effective 
                in improving the symptoms of frozen shoulder.<br>
                是的，针灸、按摩和拔罐对于改善肩周炎的症状都非常有效。</p>
            </p>
         </div>
    </body>
</html>
