<html>
    <head>
        <title>JHH home-page</title>
        <%- include('partials/header1.ejs') %>
        <i>***Jun Healthcare House Copyrights 2026***</i>
    </head>
    <body>
        <%- include('partials/navbar1.ejs') %>
         <div class="container">
            <br><h1><strong>Home</strong></h1>
            <img class="img2" src="/public/images/ZYAM.jpeg" alt="Lady">
            <p><a href="service"><h4>Jun Healthcare Home</h4></a>The service will begin in April 2026 
                and will only be available to female customers. <br>
                该服务将于 2026 年 4 月开始，并且只面向女性顾客。<br><br>
            </p>
            <p>Traditional Chinese medicine acupuncture is a safe and effective, 
                chemical-free therapy that can promote the body's own healing abilities.<br>
                传统中医针灸是一种安全有效、不含化学成分的疗法，可以促进人体自身的愈合能力。<br><br>
                Jun Wu is a senior traditional Chinese medicine acupuncturist 
                who combines effective acupuncture techniques with holistic therapies, 
                focusing on addressing health issues at their root rather than merely alleviating symptoms. 
                She is warm, patient-centered, and approachable.<br>
                吴君是一位资深的中医针灸师，她将有效的针灸技术与整体疗法相结合，注重从根本上解决健康问题，而不仅仅是缓解症状。
                她热情、以病人为中心，并且平易近人。<br><br>
            </p>
            <h3><strong><u>Contacts: </u></strong></h3>
            <p>Phone Nomber: +61430098581 (WhatsApp or txt only)<br>
                Email: JunHealthcareHouse@gmail.com<br>
                Address: 147 Stonehill Dr, Maddingley VIC 3340, Australia.</p>
            <a href="https://www.google.com/maps/place/147+Stonehill+Dr,+Maddingley+VIC+3340,+Australia/@-37.6872248,144.4087345,498m/data=!3m2!1e3!4b1!4m6!3m5!1s0x6ad6be489a7e6283:0xe2a2f27b4a82e5!8m2!3d-37.6872248!4d144.4087345!16s%2Fg%2F11hm7xlc5n?authuser=0&hl=en&entry=ttu&g_ep=EgoyMDI1MTIwOS4wIKXMDSoKLDEwMDc5MjA3M0gBUAM%3D">
                <h6>Jun Healthcare Home on Google Map</h6></a> 
            <img class="img1" src="/public/images/JHH Address.jpg" alt="JHH Map"><br>
        </div>
    </body>
</html>
