<html>
    <head>
        <title>JHH home-page</title>
        <%- include('partials/header1.ejs') %>
        <h6>***Jun Healthcare House Copyrights 2026***</h6>
    </head>
    <body>
        <%- include('partials/navbar1.ejs') %>
         <div class="container">
            <br><h1><strong>Home</strong></h1><br>
            <img class="img2" src="/public/images/ZYAM.jpeg" alt="Lady">
            <a href="service"><h3>Jun Healthcare Home</h3></a> 
            <p> is opening in April 2026, serving exclusively female clients.</p>
            <p>Traditional Chinese acupuncture is a safe and effective chemical-free therapy that
                promotes the body's self-healing abilities.<br><br>
                Jun WU is a senior TCM acupuncturist who combines effective acupuncture 
                techniques with holistic therapies, focusing on addressing health issues 
                at their root, rather than simply relieving symptoms. <br>
                She is warm, patient-centered, and approachable. <br><br>
                传统中医针灸是一种安全有效的无化学疗法，能够促进人体自身的自愈能力。
                吴军是一位资深的中医针灸师，她将有效的针灸技术与整体疗法相结合，
                注重从根本上解决健康问题，而不仅仅是缓解症状。她待人热情、以患者为中心，并且平易近人。 <br>
            </p>
        </div>
    </body>
</html>
