<html>
    <head>
        <title>JHH home-page</title>
        <%- include('partials/header1.ejs') %>
    </head>
    <body>
        <%- include('partials/navbar2.ejs') %>
         <div class="container">
            <br><h1><strong>Home</strong></h1>
            <img class="img2" src="/public/images/ZYAM.jpeg" alt="Lady">
            <p><a href="service"><h4>Jun Healthcare House</h4></a>The service will begin in April 2026 
                and will only be available to female customers. <br>
            </p>
            <p>Traditional Chinese medicine acupuncture is a safe and effective, 
                chemical-free therapy that can promote the body's own healing abilities.<br><br>
                Jun Wu is a senior traditional Chinese medicine acupuncturist 
                who combines effective acupuncture techniques with holistic therapies, 
                focusing on addressing health issues at their root rather than merely alleviating symptoms. 
                She is warm, patient-centered, and approachable.<br><br>
            </p>
            <h3><strong><u>Contacts: </u></strong></h3>
            <p>Phone Nomber: +61430098581 (WhatsApp or txt only)<br>
                Email: JunHealthcareHouse@gmail.com<br>
                Address: 147 Stonehill Dr, Maddingley VIC 3340, Australia.</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d402.65142491399564!2d144.40821914127224!3d-37.687301428946455!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad6be489a7e6283%3A0xe2a2f27b4a82e5!2s147%20Stonehill%20Dr%2C%20Maddingley%20VIC%203340%2C%20Australia!5e1!3m2!1sen!2snz!4v1769230441640!5m2!1sen!2snz" width="800" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </body><br><br>
    <footer>
        <p>&copy; 2026 Jun Healthcare House. All rights reserved.</p>
</html>
