<html>
    <head>
        <title>JHH login-page</title>
        <%- include('partials/header1.ejs') %>
    </head>
    <body>
        <h6 style="color: rgb(4, 12, 252)"><i>JHH Login Page</i></h6>
        <%- include('partials/navbar1.ejs') %>
        <div class="container"><br>
            <h1><strong>Login</strong></h1>
            <form action="/auth" method="post">
                <input type="text" name="name" placeholder="Enter Name" required />
                <input type="password" name="password" placeholder="Enter Password" required/><br><br>
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? Go to <a href="register">Register</a> first please?</p>
        </div>
    </body><br><br><br>
    <footer>
        <p>&copy; 2026 Jun Healthcare House. All rights reserved.</p>
    </footer>
</html>