<html>
    <head>
        <title>JHH register-page</title>
        <%- include('partials/header1.ejs') %>
    </head>
    <body>
        <%- include('partials/navbar1.ejs') %>
        <div class="container"><br>
            <h1><strong>Register</strong></h1>
            <form action="/register" method="post">
                <input type="text" id="name" placeholder="Enter Name" name="name">
                <input type="password" id="password" placeholder="Enter Password" name="password">
                <button type="register">Register</button>
            </form> 
            <p>Already have an account? Go to <a href="login">Login</a> please?</p>
            <h4></h4>           
        </div>
    </body><br><br><br>
    <footer>
        <p>&copy; 2026 Jun Healthcare House. All rights reserved.</p>
</html>