<html>
    <head>
        <title>JHH services-page</title>
        <%- include('partials/header1.ejs') %>
        <h6>***Jun Healthcare House Copyrights 2026***</h6>
    </head>
    <body>
        <%- include('partials/navbar1.ejs') %>
        <div class="container">
            <br><h1><strong>Services</strong></h1><br>
            <img class="img2" src="/public/images/acupuncture.jpeg" alt="Lady">
            <p>If you have any questions, please check on <a href="faqs">FAQs</a></p>
            <p style="color: #23086f">
                Consultation:<br>
                In traditional Chinese medicine, the purpose of consultation is 
                to understand the patient's daily life and diet in order to determine 
                the yin and yang attributes of the patient's body.<br>
                中医问诊就是要了解患者的起居饮食情况，来判断患者机体的阴阳属性<br><br>
                Acupuncture：<br>
                After observing, listening, questioning, and palpating, we determine 
                whether the body's Qi and blood are normal. We then identify the root cause
                of organ dysfunction and use specific needles at specific acupoints 
                with specific techniques to regulate organ function, promote Qi 
                and blood circulation, and maintain the body's Yin-Yang balance.<br>
                经过望闻问切，判断机体气血是否正常？找出脏腑功能失调的根源，
                用特定的针，在特定的穴位，用特定的手法，实施针刺，从而调节脏腑功能，促进气血循环，
                保持机体的阴阳平衡<br><br>
                Tui Na<br>
                Massage: This is a method of treatment in Traditional Chinese Medicine. 
                It involves using the hands or forearms to apply pressure along meridians 
                or acupoints to unblock meridians, promote blood circulation, and improve 
                the function of internal organs.<br>
                推拿：是中医治疗的一种方法。用手或者前臂，沿着经络或者穴位推压，达到疏通经络，
                促进气血循环，改善脏腑功能<br><br>
                Cupping用特定的罐子，吸附在穴位上，或者沿着经络推拉，将体内的毒素，湿邪和寒邪拔出,
                拔罐可以拔出体内较深层的毒素<br>
                Gua sha刮痧，用特定的刮板，在体表操作，刮出体内的毒素<br>
                Remedial massage<br>
            </p>
        </div>
    </body>
</html>
