<html>
    <head>
        <title>JHH services-page</title>
        <%- include('partials/header1.ejs') %>
    </head>
    <body>
        <%- include('partials/navbar1.ejs') %>
        <div class="container">
            <br><h1><strong>Services</strong></h1><br>
            <img class="img2" src="/public/images/acupuncture.jpeg" alt="Lady">
            <p>If you have any questions, please check on <a href="faqs">FAQs</a> page</p>
            <p><b><u>Consultation:</u></b><br>
                In traditional Chinese medicine, the purpose of consultation is 
                to understand the patient's daily life and diet in order 
                to determine the Yin and Yang attributes of the patient's body.<br><br>
                <b><u>Acupuncture:</u></b><br>
                Acupuncture: Through observation, listening, questioning, and palpation, 
                we determine whether the body's Qi and blood are normal. 
                We find the root cause of the dysfunction of the internal organs, 
                and use specific needles at specific acupoints with specific techniques to perform acupuncture, 
                thereby regulating the function of the internal organs, promoting the circulation of Qi and blood, 
                and maintaining the body's Yin-Yang balance.<br><br>
                <b><u>Tui Na (Chinese Massage):</u></b><br>
                This is a method of treatment in Traditional Chinese Medicine. It involves using the hands or forearms 
                to apply pressure along the meridians or acupoints to unblock the meridians, promote blood circulation, 
                and improve the function of the internal organs.<br><br>
                <b><u>Cupping: </u></b><br>
                This involves using specific cups that adhere to acupoints or are pushed and pulled along meridians to draw out toxins, 
                dampness, and cold from the body. Cupping can draw out toxins from deeper layers of the body.<br><br>
                <b><u>Gua sha: </u></b><br>
                This is a therapy that uses a special scraping tool to remove toxins from the body's surface. <br>
            </p>
        </div>
    </body><br><br>
    <footer>
        <p>&copy; 2026 Jun Healthcare House. All rights reserved.</p>
</html>
