<html>
    <head>
        <title>JHH services-page</title>
        <%- include('partials/header1.ejs') %>
        <i>***Jun Healthcare House Copyrights 2026***</i>
    </head>
    <body>
        <%- include('partials/navbar1.ejs') %>
        <div class="container">
            <br><h1><strong>Services</strong></h1><br>
            <img class="img2" src="/public/images/acupuncture.jpeg" alt="Lady">
            <p>If you have any questions, please check on <a href="faqs">FAQs</a> page</p>
            <p style="color: #23086f">
                <b><u>Consultation:</u></b><br>
                In traditional Chinese medicine, the purpose of consultation is 
                to understand the patient's daily life and diet in order 
                to determine the Yin and Yang attributes of the patient's body.<br>
                在中医中，问诊的目的是了解患者的日常生活和饮食习惯，从而确定患者身体的阴阳属性。<br><br>
                <b><u>Acupuncture:</u></b><br>
                Acupuncture: Through observation, listening, questioning, and palpation, 
                we determine whether the body's Qi and blood are normal. 
                We find the root cause of the dysfunction of the internal organs, 
                and use specific needles at specific acupoints with specific techniques to perform acupuncture, 
                thereby regulating the function of the internal organs, promoting the circulation of Qi and blood, 
                and maintaining the body's Yin-Yang balance.<br>
                针灸：通过观察、听诊、询问和触诊，我们判断人体的气血是否正常。我们找出脏腑功能失调的根本原因，
                并使用特定的针刺特定的穴位和手法进行针灸治疗，从而调节脏腑功能，促进气血运行，维持人体的阴阳平衡。<br><br>
                <b><u>Tui Na (Chinese Massage):</u></b><br>
                This is a method of treatment in Traditional Chinese Medicine. It involves using the hands or forearms 
                to apply pressure along the meridians or acupoints to unblock the meridians, promote blood circulation, 
                and improve the function of the internal organs.<br>
                推拿（中式按摩）：这是传统中医的一种治疗方法。它通过用手或前臂按压经络或穴位，以疏通经络、促进血液循环并改善内脏功能。<br><br>
                <b><u>Cupping: </u></b><br>
                This involves using specific cups that adhere to acupoints or are pushed and pulled along meridians to draw out toxins, 
                dampness, and cold from the body. Cupping can draw out toxins from deeper layers of the body.<br>
                拔罐疗法是指使用特定的罐子，这些罐子可以吸附在穴位上，或沿着经络推拉，以排出体内的毒素、湿气和寒气。
                拔罐疗法甚至可以排出体内深层的毒素。<br><br>
                <b><u>Gua sha: </u></b><br>
                This is a therapy that uses a special scraping tool to remove toxins from the body's surface. <br>
                刮痧：这是一种使用特制刮板去除身体表面毒素的疗法。<br><br>
            </p>
        </div>
    </body>
</html>
