h1 {color: black;}
h2 {color: navy;}
h4 {color: purple;}
p {color: #000;}
body {
    background-image: url('/public/images/BlueSky1.jpg');
}
.img2 { 
float: right; 
max-width: 400px; 
margin-left: 20px; 
border-radius: 200px;
} 
